html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    font-family: sans-serif;
}

h1 {
    margin: 0.5em 0 0 0;
    padding-bottom: 0.2em;
    padding-top: 0.4em;
    font-size: 4em;
}

.root_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 2em 2em 2em;
    /* gap: 12em; */
    border: 1px solid black;
    border-radius: 4%/5%;
    background-color: #F3F3F3;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: normal;
    height: 38em;
    width: 32em;
    border: 1px solid black;
    background-color: white;
}

.calc_screen {
    display: flex;
    flex-direction: column;
    height: 6em;
    border-bottom: 1px solid black;
}

.calc_screen p {
    text-align: right;
}

#display_div, #current_value {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    padding-right: 1em;
}

#display_div {
    height: 2em;
    border-bottom: 1px dotted black;
}

#display {
    border: none;
    text-align: right;
}

#current_value {
    height: 2em;
    font-size: 2em;
}

.controls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 32em;
    /* border: 2px solid blue; */
    gap: 0.5em;
}

.control_button {
    margin: 0.2em 0.2em 0.2em 0.2em;
    height: 8em;
    width: 8em;
}

#equal {
    margin: 0.2em 0.2em 0.2em 0.2em;
    width: 17em;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 4em;
    width: 100%;
}

.footer p {
    text-align: center;
    font-size: 1.2em;
    color: white;
}